<div class='cssProgress'>
    <div class='progress1'>
        <div class='cssProgress-bar cssProgress-active' style='width: {{percent}}%' data-percent='{{percent}}'>
            <span class='cssProgress-label'>{{percent}}%</span>
        </div>
    </div>
</div>